@{
    ViewBag.Title = "Home Page";
}

<div class="message-header">
    <h1>Message Board</h1>
    <p class="lead">Latest Messages...</p>
</div>

<div class="messages">
    <div class="message row">
        <div class="title span10">Consectetur adipiscing elit fusce vel.</div>
        <div class="date span2">Des 28, 2017</div>
        <div class="contents span12">Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</div>
        <div class="toolbar"><button class="btn btn-primary reply-button">Reply</button></div>
        <div class="replies span12"></div>
    </div>
    <div class="message row">
        <div class="title span10">Consectetur adipiscing elit fusce vel.</div>
        <div class="date span2">Des 28, 2017</div>
        <div class="contents span12">Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</div>
        <div class="toolbar"><button class="btn btn-primary reply-button">Reply</button></div>
        <div class="replies span12"></div>
    </div>
    <div class="message row">
        <div class="title span10">Consectetur adipiscing elit fusce vel.</div>
        <div class="date span2">Des 28, 2017</div>
        <div class="contents span12">Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</div>
        <div class="toolbar"><button class="btn btn-primary reply-button">Reply</button></div>
        <div class="replies span12"></div>
    </div>
    <div class="message row">
        <div class="title span10">Consectetur adipiscing elit fusce vel.</div>
        <div class="date span2">Des 28, 2017</div>
        <div class="contents span12">Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</div>
        <div class="toolbar"><button class="btn btn-primary reply-button">Reply</button></div>
        <div class="replies span12"></div>
    </div>
    <div class="message row">
        <div class="title span10">Consectetur adipiscing elit fusce vel.</div>
        <div class="date span2">Des 28, 2017</div>
        <div class="contents span12">Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</div>
        <div class="toolbar"><button class="btn btn-primary reply-button">Reply</button></div>
        <div class="replies span12"></div>
    </div>
</div>
//.messages>(.message.row>(.title.span10>lorem5)+(.date.span2>{Des 28, 2017})+(.contents.span12>lorem)+(.toolbar>button.btn.btn-primary.reply-button>{Reply})+.replies.span12)*5