@model IEnumerable<FullStackReference.Data.Topic>
@{
    ViewBag.Title = "Home Page";
    ViewBag.InitModule = "homeIndex";
}
@section Scripts {
    <script src="~/Js/home-index.js"></script>
}

<div ng-view></div>


@foreach (var topic in Model)
{
    <div>@topic.Title</div>
    <div>@topic.Body</div>
}
//.messages>(.message.row>(.title.span10>lorem5)+(.date.span2>{Des 28, 2017})+(.contents.span12>lorem)+(.toolbar>button.btn.btn-primary.reply-button>{Reply})+.replies.span12)*5